<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.bikenik.alfred-lingualeo</string>
	<key>category</key>
	<string>Languages</string>
	<key>connections</key>
	<dict>
		<key>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70F1C1AD-1F31-4FC0-B8C4-5AF4F571208D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0663394C-A8B3-4D28-8211-6B320BC44A40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C805E018-8081-4664-AFD2-CEE4B6C04265</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17A90B72-96E6-4A97-B017-B6C9C9739066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A5D8971-EAA8-456F-A45C-67666B9DA480</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A0DB276-C186-448B-BB6B-92AD4E7AB3CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B54C0DE1-E5AF-428C-84C9-CA9DC6E6AF41</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3CEC4ABC-1CED-4669-843D-B9CB306A30F9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⬅️ BACK ⬅️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CD92592-49C4-4325-A379-BC796125FFB4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66EAB1BF-871F-49EE-9C77-31FB84732D62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2AE33449-53E7-42AD-93F6-8629EDE49F58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD796F2F-1E59-451A-8A9B-063102F5846C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BD992DE-9E3E-46AD-93F8-5B16E57D02D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DA33C0-DC44-4962-B8D0-438F9AD88C79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CEC4ABC-1CED-4669-843D-B9CB306A30F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B7CC1DD-251A-44A6-A342-938BCB89EF43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>465D11EF-AD7E-4B50-867D-ADA8702248DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4F0E7AE-4FC3-492E-AC4E-92CB4177252A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⬅️ BACK ⬅️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CD92592-49C4-4325-A379-BC796125FFB4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66EAB1BF-871F-49EE-9C77-31FB84732D62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A10E8CF-6E8A-45BE-962A-A9A30D2643FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17A90B72-96E6-4A97-B017-B6C9C9739066</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66EAB1BF-871F-49EE-9C77-31FB84732D62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>909CF3DF-C880-4254-8F00-0D73FFEF0E79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70F1C1AD-1F31-4FC0-B8C4-5AF4F571208D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B4DE4C7-3E7D-4C73-961D-315A74D7F79D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9E66CE4-909B-47CE-8E47-449BED1CE8D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99BEF76A-81B4-43EA-977E-00832A2E7DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BD992DE-9E3E-46AD-93F8-5B16E57D02D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A5D8971-EAA8-456F-A45C-67666B9DA480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4F0E7AE-4FC3-492E-AC4E-92CB4177252A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⬅️ BACK ⬅️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CD92592-49C4-4325-A379-BC796125FFB4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66EAB1BF-871F-49EE-9C77-31FB84732D62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BA1225F-7698-4C3A-8B31-7E663DB70A73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95E42087-4FA8-48C8-9D62-73A70F6EDD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B4DE4C7-3E7D-4C73-961D-315A74D7F79D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3166DD64-65FD-42B4-BE50-1D0AC82D3CAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CD92592-49C4-4325-A379-BC796125FFB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07470B44-7C41-40D5-8592-04598FE8C7A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>909CF3DF-C880-4254-8F00-0D73FFEF0E79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4E1ED24-14C4-44D1-8884-9A4B01739956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95E42087-4FA8-48C8-9D62-73A70F6EDD04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A10E8CF-6E8A-45BE-962A-A9A30D2643FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B114B6C1-C813-4524-A907-2881A3E3BD81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3CEC4ABC-1CED-4669-843D-B9CB306A30F9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⬅️ BACK ⬅️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99BEF76A-81B4-43EA-977E-00832A2E7DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4036D542-DC8D-4985-8434-8F3205FC80CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4F0E7AE-4FC3-492E-AC4E-92CB4177252A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D219E1A-73B9-4202-BF55-A22D30040F80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9509C58-73E0-432B-B98B-10577FC7125A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>465D11EF-AD7E-4B50-867D-ADA8702248DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9E66CE4-909B-47CE-8E47-449BED1CE8D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB62DF79-66D0-4A32-A783-DBC415C56E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD796F2F-1E59-451A-8A9B-063102F5846C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B4DE4C7-3E7D-4C73-961D-315A74D7F79D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9E66CE4-909B-47CE-8E47-449BED1CE8D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99BEF76A-81B4-43EA-977E-00832A2E7DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BD992DE-9E3E-46AD-93F8-5B16E57D02D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B114B6C1-C813-4524-A907-2881A3E3BD81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9509C58-73E0-432B-B98B-10577FC7125A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E1ED24-14C4-44D1-8884-9A4B01739956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AE33449-53E7-42AD-93F6-8629EDE49F58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B54C0DE1-E5AF-428C-84C9-CA9DC6E6AF41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B84975E0-19AA-4D5B-BE67-9A293DEE1EC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A0DB276-C186-448B-BB6B-92AD4E7AB3CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C805E018-8081-4664-AFD2-CEE4B6C04265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC7B39DD-FF43-4B33-ADC4-82DF8E9B0B1A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>show filters</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAD3810B-452F-4C22-8BB2-453C1053852E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC7B39DD-FF43-4B33-ADC4-82DF8E9B0B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95E42087-4FA8-48C8-9D62-73A70F6EDD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAD3810B-452F-4C22-8BB2-453C1053852E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A0DB276-C186-448B-BB6B-92AD4E7AB3CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>bikenik</string>
	<key>description</key>
	<string>lingualeo dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-lingualeo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/delete-words.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70F1C1AD-1F31-4FC0-B8C4-5AF4F571208D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:missing}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B54C0DE1-E5AF-428C-84C9-CA9DC6E6AF41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}"
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/dictionary.js "$1" "$mode"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred-LinguaLeo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7A5D8971-EAA8-456F-A45C-67666B9DA480</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>filter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7BA1225F-7698-4C3A-8B31-7E663DB70A73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>filter</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5D219E1A-73B9-4202-BF55-A22D30040F80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/dictionary.js "$1" "filter"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred-LinguaLeo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95E42087-4FA8-48C8-9D62-73A70F6EDD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:currentSet}: {var:mode}‣ ",
    "variables" : {
      "type" : "{var:type}",
      "audioFileName": "{var:audioFileName}",
      "audioUrl": "{var:audioUrl}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>17A90B72-96E6-4A97-B017-B6C9C9739066</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:currentSet}: select for sorting‣ ",
    "variables" : {
      "groupId" : "{var:groupId}",
      "type" : "0"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A4F0E7AE-4FC3-492E-AC4E-92CB4177252A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5A10E8CF-6E8A-45BE-962A-A9A30D2643FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:currentSet}: select for sorting‣ ",
    "variables" : {
      "groupId" : "{query}",
      "audioFileName" : "{var:audioFileName}",
      "type" : "0",
      "audioUrl" : "{var:audioUrl}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>CC7B39DD-FF43-4B33-ADC4-82DF8E9B0B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>lingualeo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0663394C-A8B3-4D28-8211-6B320BC44A40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -e /usr/local/lib/node_modules/alfred-lingualeo/tmp/$audioFileName.mp3 ]
then
afplay /usr/local/lib/node_modules/alfred-lingualeo/tmp/$audioFileName.mp3
else
./node_modules/.bin/run-node src/api/dictionary.js "$1" "play"
afplay /usr/local/lib/node_modules/alfred-lingualeo/tmp/$audioFileName.mp3
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07470B44-7C41-40D5-8592-04598FE8C7A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/dictionary.js "$1" "allWords"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred-LinguaLeo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>465D11EF-AD7E-4B50-867D-ADA8702248DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>lingualeo</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3B7CC1DD-251A-44A6-A342-938BCB89EF43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B84975E0-19AA-4D5B-BE67-9A293DEE1EC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lleo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"

if [ -e /usr/local/lib/node_modules/alfred-lingualeo/tmp/ ]
then
rm -r /usr/local/lib/node_modules/alfred-lingualeo/tmp/
mkdir /usr/local/lib/node_modules/alfred-lingualeo/tmp/
else
mkdir /usr/local/lib/node_modules/alfred-lingualeo/tmp/
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred-LinguaLeo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C805E018-8081-4664-AFD2-CEE4B6C04265</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "",
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>3CEC4ABC-1CED-4669-843D-B9CB306A30F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>1|2|3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B114B6C1-C813-4524-A907-2881A3E3BD81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:currentSet}: {var:typeName}‣ ",
    "variables" : {
      "type" : "{var:type}",
      "audioFileName": "{var:audioFileName}",
      "audioUrl": "{var:audioUrl}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A9509C58-73E0-432B-B98B-10577FC7125A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:missing}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8CD92592-49C4-4325-A379-BC796125FFB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/add-words.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD796F2F-1E59-451A-8A9B-063102F5846C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:text_notify_subtitle}</string>
				<key>title</key>
				<string>{var:text_notify_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3166DD64-65FD-42B4-BE50-1D0AC82D3CAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred-LinguaLeo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4E1ED24-14C4-44D1-8884-9A4B01739956</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lleo-dic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/api/dictionary.js "$1" "allWords"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>dictionary</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A0DB276-C186-448B-BB6B-92AD4E7AB3CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}"
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>2AE33449-53E7-42AD-93F6-8629EDE49F58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:missing}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>66EAB1BF-871F-49EE-9C77-31FB84732D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "choose your set to add '{var:currentSearch}'‣ "
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>909CF3DF-C880-4254-8F00-0D73FFEF0E79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8B4DE4C7-3E7D-4C73-961D-315A74D7F79D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:currentSet}‣ ",
    "variables" : {
      "groupId" : "{query}",
      "audioFileName" : "{var:audioFileName}",
      "type" : "0",
      "audioUrl" : "{var:audioUrl}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>EAD3810B-452F-4C22-8BB2-453C1053852E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⛔ {var:error_msg}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FB62DF79-66D0-4A32-A783-DBC415C56E04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:error}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A9E66CE4-909B-47CE-8E47-449BED1CE8D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⛔ {var:error_msg}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4036D542-DC8D-4985-8434-8F3205FC80CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:post_failed}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>99BEF76A-81B4-43EA-977E-00832A2E7DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>⛔ See logs</string>
				<key>title</key>
				<string>Something went wrong</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>25DA33C0-DC44-4962-B8D0-438F9AD88C79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\}$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2BD992DE-9E3E-46AD-93F8-5B16E57D02D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fill in your pass and email of your LinguaLeo's account

choose your language:
Russian: 'ru',
Spanish: 'es'</string>
	<key>uidata</key>
	<dict>
		<key>00C6C86B-7B40-4D93-A60C-694F3CB3EBA4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1770</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>0663394C-A8B3-4D28-8211-6B320BC44A40</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>07470B44-7C41-40D5-8592-04598FE8C7A9</key>
		<dict>
			<key>note</key>
			<string>...
AUDIO PLAY</string>
			<key>xpos</key>
			<integer>1600</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>17A90B72-96E6-4A97-B017-B6C9C9739066</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>25DA33C0-DC44-4962-B8D0-438F9AD88C79</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2100</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>2A0DB276-C186-448B-BB6B-92AD4E7AB3CB</key>
		<dict>
			<key>note</key>
			<string>...
WORDS</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>2AE33449-53E7-42AD-93F6-8629EDE49F58</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1760</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>2BD992DE-9E3E-46AD-93F8-5B16E57D02D1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2030</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>3166DD64-65FD-42B4-BE50-1D0AC82D3CAE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>2100</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>3B7CC1DD-251A-44A6-A342-938BCB89EF43</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>3CEC4ABC-1CED-4669-843D-B9CB306A30F9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>4036D542-DC8D-4985-8434-8F3205FC80CA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2100</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>465D11EF-AD7E-4B50-867D-ADA8702248DF</key>
		<dict>
			<key>note</key>
			<string>...
WORDS</string>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>5A10E8CF-6E8A-45BE-962A-A9A30D2643FF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5D219E1A-73B9-4202-BF55-A22D30040F80</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1600</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>66EAB1BF-871F-49EE-9C77-31FB84732D62</key>
		<dict>
			<key>note</key>
			<string>...
MISSING: TRUE</string>
			<key>xpos</key>
			<integer>1350</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>70F1C1AD-1F31-4FC0-B8C4-5AF4F571208D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>...
DELETE WORD</string>
			<key>xpos</key>
			<integer>1840</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>7A5D8971-EAA8-456F-A45C-67666B9DA480</key>
		<dict>
			<key>note</key>
			<string>...
WORDS</string>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7BA1225F-7698-4C3A-8B31-7E663DB70A73</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>8B4DE4C7-3E7D-4C73-961D-315A74D7F79D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>2030</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>8CD92592-49C4-4325-A379-BC796125FFB4</key>
		<dict>
			<key>note</key>
			<string>...
MISSING: FALSE</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>909CF3DF-C880-4254-8F00-0D73FFEF0E79</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>95E42087-4FA8-48C8-9D62-73A70F6EDD04</key>
		<dict>
			<key>note</key>
			<string>...
FILTER</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>99BEF76A-81B4-43EA-977E-00832A2E7DB8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2030</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>A4F0E7AE-4FC3-492E-AC4E-92CB4177252A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>A9509C58-73E0-432B-B98B-10577FC7125A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>A9E66CE4-909B-47CE-8E47-449BED1CE8D2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2030</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>AD796F2F-1E59-451A-8A9B-063102F5846C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>...
ADD WORD</string>
			<key>xpos</key>
			<integer>1840</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>B114B6C1-C813-4524-A907-2881A3E3BD81</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B4E1ED24-14C4-44D1-8884-9A4B01739956</key>
		<dict>
			<key>xpos</key>
			<integer>1600</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>B54C0DE1-E5AF-428C-84C9-CA9DC6E6AF41</key>
		<dict>
			<key>note</key>
			<string>...
MISSING: FALSE</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B84975E0-19AA-4D5B-BE67-9A293DEE1EC3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C805E018-8081-4664-AFD2-CEE4B6C04265</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>CC7B39DD-FF43-4B33-ADC4-82DF8E9B0B1A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>EAD3810B-452F-4C22-8BB2-453C1053852E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>FB62DF79-66D0-4A32-A783-DBC415C56E04</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>2100</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>password</key>
		<string></string>
		<key>username</key>
		<string></string>
		<key>your_language</key>
		<string>ru</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>your_language</string>
		<string>username</string>
		<string>password</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/bikenik/alfred-lingualeo#readme</string>
</dict>
</plist>
